body {
  min-width: 525px !important; }

.no-margin-no-padding {
  margin: 0 !important;
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.xy-mid-align {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important; }
