body {
    min-width: 525px !important;
}

.no-margin-no-padding,
.custom-1-wide {
    margin: 0 !important;
    padding: 0 !important;
}

.custom-1-wide{
    background: #fff!important;
}

.no-margin,
.custom-6-wide,
.custom-5-wide {
    margin: 0 !important;
}

.no-padding,
.custom-5-wide .user-details-wrapper {
    padding: 0 !important;
}

.xy-mid-align,
.custom-icon,
.custom-1-wide .ui.tiny.image {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}

.icon-box {
    height: 30px;
    width: 31.67px;
    border-radius: 4px;
    background-color: transparent;
    padding: 0;
    display: inline-block;
    position: relative;
}

.icon-box:hover {
    background-color: #E0E1E2;
}

.custom-icon {
    line-height: initial;
    height: 14px;
    width: 15px;
}

.custom-container {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
}

.custom-container .one.wide.column,
.custom-container .six.wide.column,
.custom-container .five.wide.column {
    height: 55px !important;
}

.custom-container .one.wide.column {
    width: 60px !important;
}

.custom-container .five.wide.column {
    width: -webkit-calc(100% - (50% + 60px)) !important;
    width: -moz-calc(100% - (50% + 60px)) !important;
    width: calc(100% - (50% + 60px)) !important;
    padding-right: 0.3rem;
}

.ui.grid.custom-container > .column:not(.row) {
    padding-top: 0.3rem;
}

.content-masterhead {
    padding: 0 !important;
}

.custom-1-wide {
    -webkit-background-blend-mode: multiply;
    -moz-background-blend-mode: multiply;
    -ms-background-blend-mode: multiply;
    -o-background-blend-mode: multiply;
    background-blend-mode: multiply;
}

.custom-1-wide .ui.tiny.image {
    display: block;
    height: 100%!important;
    width: 100%!important;
    padding: 2px;
}

.custom-6-wide .custom-row-1 {
    position: relative;
    top: 4px;
}

.custom-6-wide .custom-row-1 .content-title {
    font-size: 16px;
    font-weight: bold;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    height: 19px;
    line-height: 19px;
}

.custom-6-wide .custom-row-2 {
    position: relative;
    font-size: 13px !important;
    height: 50px;
    line-height: 30px;
}

.custom-6-wide .custom-row-2 a {
    cursor: pointer;
    position: relative;
    margin: 0;
    bottom: -4px;
}

.custom-5-wide .custom-row-1 {
    position: relative;
    top: -3px;
}

.custom-5-wide .user-details-wrapper:before {
    all: initial;
}

.custom-5-wide .user-details-wrapper {
    height: auto;
    width: 123px !important;
    border-radius: 4px;
    background-color: #ffffff;
    display: inline-block !important;
    top: 10px;
    right: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.custom-5-wide .user-details-wrapper img {
    height: 35px;
    width: 35px;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.custom-5-wide .user-details-wrapper .user-name {
    font-weight: bold;
}

.custom-5-wide .user-details-wrapper .user-name,
.custom-5-wide .user-details-wrapper .user-email,
.custom-5-wide .user-details-wrapper .user-details-edit {
    color: #4A4A4A;
    font-size: 10px;
    line-height: 11px;
    padding: 2px 10px;
    margin-top: 3px;
    text-align: center;
}

.custom-5-wide .user-details-wrapper .user-email,
.custom-5-wide .user-details-wrapper .user-details-edit,
.custom-5-wide .user-details-wrapper .user-profile-menu > .option {
    color: #4A4A4A;
    font-size: 9px;
    font-weight: normal;
}

.custom-5-wide .user-details-wrapper .user-details-edit {
    color: #2e9fd9;
    line-height: 9px;
}

.custom-5-wide .user-details-wrapper .user-details {
    padding: 5px 0;
    box-sizing: border-box;
    margin-top: 5px;
    border-bottom: 0.02px solid #F3F3F3;
}

.custom-5-wide .user-details-wrapper .user-profile-menu .option {
    color: #9b9b9b;
    padding: 1px 10px;
    cursor: default;
    user-select: none;
}

.custom-5-wide .user-details-wrapper .user-profile-menu .option > * {
    display: inline-block;
}

.custom-5-wide .user-details-wrapper .user-profile-menu a {
    width: 100%;
}

.custom-5-wide .user-details-wrapper .user-profile-menu a,
.custom-5-wide .user-details-wrapper .user-profile-menu a:hover {
    color: #9b9b9b !important;
    cursor: default;
}

.custom-5-wide .user-details-wrapper .user-profile-menu .option:hover {
    background-color: #F3F3F3;
}

.custom-5-wide .user-context {
    position: relative;
    z-index: 1000;
    color: #9b9b9b;
    margin-right: 2px;
}

.custom-5-wide .user-context .username {
    width: 100%;
    text-align: right;
    cursor: default;
}

.custom-5-wide .user-context .username .name {
    font-size: 12px;
    line-height: 14px;
}

.custom-5-wide .user-context .username .caret.down.icon {
    font-size: 14px;
    line-height: 14px;
}

.custom-5-wide .user-context .username .custom-cursor {
    cursor: pointer;
}

.custom-5-wide .close {
    position: relative;
    display: inline-block;
    float: right;
    z-index: 10001;
}

.custom-5-wide .close a {
    color: #9B9B9B;
}

.custom-5-wide .close a .remove.icon:hover {
    color: #D92B2F;
}

.custom-5-wide .header-icon-container {
    position: relative;
    top: -5px;
}

.custom-5-wide .custom-row-2 {
    position: relative;
    display: inline-block;
    height: 30px;
    float: right;
    font-size: 12px !important;
    top: 4px;
}

.custom-5-wide .custom-row-2 .icon,
.custom-5-wide .custom-row-2 .fa.fa-eye,
.custom-5-wide .custom-row-2 .icon-save,
.custom-5-wide .custom-row-2 .icon-whatsnew {
    font-size: 14px !important;
    color: #9B9B9B;
    height: 14px;
    width: 16px;
    margin-right: 10px;
}

.custom-5-wide .custom-row-2 .icon-group-1,
.custom-5-wide .custom-row-2 .icon-group-2 {
    position: relative;
    height: 100%;
}

.custom-5-wide .custom-row-2 .icon-group-1 {
    float: left;
    border-right: 0.2px solid rgba(128, 128, 128, 0.15);
}

.custom-5-wide .custom-row-2 .icon-group-1 .comments-icon-group {
    position: relative;
    display: inline-block;
}

.custom-5-wide .custom-row-2 .icon-group-2 {
    float: right;
}

.custom-5-wide .custom-row-2 .icon-group-2 .icon-save,
.custom-5-wide .custom-row-2 .icon-group-2 .fa.fa-eye {
    color: #2e9fd9;
}

.icon-save.disabled {
    color: #D7D7D7 !important;
}

.custom-5-wide .custom-row-2 .icon-group-2 .ui.dropdown {
    box-shadow: none;
}

.custom-5-wide .custom-row-2 .icon-group-2 .ui.dropdown:hover {
    background: none !important;
}

.custom-5-wide .custom-row-2 .icon-group-2 .ui.dropdown:hover .custom-icon {
    color: #4a4a4a !important;
}

.custom-5-wide .custom-row-2 .icon-group-2 .ui.dropdown .menu {
    left: initial !important;
    right: -14px !important;
    top: 50% !important;
}

.custom-5-wide .custom-row-2 .icon-group-2 .ui.dropdown .menu .item {
    font-size: 10px !important;
    line-height: 11px;
    padding: 9px 10px !important;
    color: #9b9b9b;
}

.custom-5-wide .custom-row-2 .icon-group-2 .ui.dropdown .menu .item:hover {
    background-color: #F3F3F3;
}

.custom-5-wide .custom-row-2 .icon-group-2 .preview-icon-group {
    display: inline-block;
    position: relative;
}

.custom-5-wide .custom-row-2 .icon-group-2 .preview-icon-group .ui.pointing.dropdown.icon-box {
    width: 15px;
    margin-left: -6px;
}

.custom-5-wide .custom-row-2 .icon-group-2 .preview-icon-group .ui.pointing.dropdown.icon-box .icon {
    font-size: 12px !important;
}

.toolbar .ui.nine.wide.column,
.toolbar .ui.icon.menu,
.toolbar .ui.three.wide.column {
    background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05)) #FFF !important;
}

.toolbar .ui.nine.wide.column .ui.icon.menu {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 30px;
    border: none;
    box-shadow: none;
}

.unsupported-resolution {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 55px;
    display: none;
    z-index: 10000000000;
    background-color: rgba(192, 192, 192, 0.5);
}

@media only screen and (max-width: 1023px) {
    .unsupported-resolution {
        display: block;
    }
}

.unsupported-resolution .ui.icon.negative.message {
    position: relative;
    width: 35%;
    height: 20%;
    margin: 15% auto;
    min-width: 350px;
    padding: 1em 0em 1em 2em;
}

.message-container .fa.fa-exclamation-triangle {
    position: relative;
    font-size: 40px;
    left: -10px;
}
