.has-error {
    border-bottom-color: #ea7575;
    /*border-bottom-width: 1.5px;*/
    transition:all linear 0.5s;
  }
  
  .has-success {
    border-bottom-color: #dfcfcf;
    transition:all linear 0.5s;
  }