.fc .fc-button-primary,
.fc-toolbar-title,
.fc-col-header-cell-cushion,
.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion,
.fc-timegrid-axis-frame {
  font-family: "Inter";
}
.fc-prev-button,
.fc-next-button,
.fc-today-button {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 0px !important;
  color: #373839 !important;
  padding: 4px !important;
}
.fc-timeGridDay-button,
.fc-timeGridTowDay-button,
.fc-changeViewButton-button {
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgb(248, 117, 88) !important;
  padding: 8px 24px !important;
  border-radius: 9999px !important;
  border: 1px solid rgb(248, 117, 88) !important;
  background: #fdf2ee !important;
}
/* .fc-changeViewButton-button::after {
  font-family: "fcicons" !important;
  content: "\e901";
} */
.fc .fc-button-primary:focus {
  box-shadow: none !important;
}
/* .fc-timegrid-slot,
.fc-col-header-cell,
.fc-timegrid-axis, */
.fc .fc-timegrid-slot-minor,
.fc-scrollgrid {
  border: none !important;
}
.fc .fc-timegrid-col.fc-day-today {
  background-color: transparent !important;
}
.fc-button-active {
  background-color: rgb(248, 117, 88) !important;
  color: #fff !important;
}
.fc-toolbar-title {
  color: #373839 !important;
  font-size: medium !important;
}
.fc-timegrid-event {
  border-radius: 8px !important;
}
.fc-toolbar-chunk {
  display: inline-flex;
  align-items: center;
}
.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
  font-size: small !important;
}
/* .fc-col-header-cell,
.fc-timegrid-axis {
  text-align: left !important;
} */
.fc .fc-timegrid-axis-frame {
  justify-content: left;
}
.fc .fc-timegrid-now-indicator-line {
  border-color: #3cb983;
  border-width: 2px 0 0;
}

.fc .fc-timegrid-now-indicator-arrow {
  border-color: #3cb983;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
@media only screen and (max-width: 414px) {
  .fc-toolbar-title {
    font-size: medium !important;
  }
  .fc-button-primary {
    font-size: small !important;
    padding: 2px 6px !important;
    margin-left: 3px !important;
  }
}
.fc th {
  display: none;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border-right: none;
  border-left: none;
}
