/*Questionset popup loading issue
    while loading question set the full screen popup show
*/
.ui.modal.qb-question-bank {
    top: 0 !important;
    left: 0 !important;
    height: 100vh;
    width: 100% !important;
    margin: 0 auto;
    border-radius: 0;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    -o-flex-flow: column;
    flex-flow: column;
}

.qs-scrollbar::-webkit-scrollbar {
    width: 10px;
}
  
.qs-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
}

.qs-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}