.sequencing-content-container {
  height: 100%;
  width: 100%;
  font-size: 4vh;
  line-height: 6.7vh;
  letter-spacing: 0.7px;
  background: linear-gradient(0deg, #B4D0F6 0%, #D0E2F5 100%);
}

.sequencing-content-container .question-content-container {
  height: 23.33333vh;
  font-size: 3.9vh;
  line-height: 6.7vh;
}

.sequencing-content-container .option-container.horizontal {
  height: 75.5%;
  width: 100%;
  position: relative;
  display: table;
  padding-right: 14.0625%;
  padding-left: 14.0625%;
}

.sequencing-content-container .option-container.horizontal .option-block-container {
  width: inherit;
  display: table-cell;
  vertical-align: middle;
}

.sequencing-content-container .option-container.horizontal .option-block-container .option-block {
  overflow: hidden;
  cursor: move;
  width: 100%;
  height: 13.2955813953vh;
  margin-bottom: 1.5625%;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.sequencing-content-container .option-container.horizontal .option-block-container .option-block span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3%;
  left: 5%;
  display: flex;
  align-items: center;
}

.sequencing-content-container .option-container.vertical {
  overflow: hidden;
  height: 77%;
  padding-top: 13.125%;
  padding-bottom: 7.1875%;
  padding-right: 13.75%;
  padding-left: 13.75%;
  position: relative;
}

.sequencing-content-container .option-container.vertical .option-block-container {
  position: absolute;
  top: 32%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
}

.sequencing-content-container .option-container.vertical .option-block-container.options-2 {
  left: 33%;
}

.sequencing-content-container .option-container.vertical .option-block-container.options-3 {
  left: 21%;
}

.sequencing-content-container .option-container.vertical .option-block-container.options-4 {
  left: 11%
}

.sequencing-content-container .option-container.vertical .option-block-container .option-block {
  overflow: hidden;
  cursor: move;
  width: 17.62%;
  height: 69.83%;
  margin-right: 2.25%;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  float: left;
}

.sequencing-content-container .option-container.vertical .option-block-container .option-block span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3%;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sequencing-content-container .option-container.vertical .option-block:last-child {
  margin-right: 0%;
}