.preview-window .ngdialog-content {
    background: none !important;
}

.ngdialog.ngdialog-theme-plain .ngdialog-content {
    background: none!important;
}

.main {
    position: relative;
    height: auto;
}

#previewContentIframeWrapper {
    position: relative;
    width: 900px;
    height: calc( 900px / (16/9));
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
}

#previewContentIframe {
    height: 100%;
    width: 100%;
    border: none;
}