/*css */

.at.config.properties.content {
    background-color: #3899ec !important;
}

.config-header {
    color: #FFF !important;
    font-size: 16px !important;
    display: inline !important;
}

.config-close-icon {
    color: #FFF !important;
    font-size: 16px !important;
    display: inline !important;
    float: right;
    cursor: pointer;
}

.hide {
    display: none;
}

.config-toolbar-content {
    max-height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}
.action-config-container{
  max-height: 420px;
}

.toolbarOptions {
    z-index: 120;
}

#plugin-toolbar-container {
    position: absolute;
    width: 300px;
    z-index: 1000;
}

.plugin-toolbar-draggable {
    cursor: move;
}

.cursor-move {
    cursor: move;
}
.configmenu{
    background-color: #EEEEEE !important;
}
/*Slider css*/

input[type=range].config-slider {
  -webkit-appearance: none;
  width: 70%;
  margin: 7.3px 0;
}
input[type=range].config-slider:focus {
  outline: none;
}
input[type=range].config-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #3899ec;
  border-radius: 5px;
  /*border: 0.2px solid #010101;*/
}
input[type=range].config-slider::-webkit-slider-thumb {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  border: 1px solid #DEDEDF;
  height: 10px;
  width: 10px;
  border-radius: 15px;
  background: linear-gradient(#fdfdfd,#f2f2f2);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range].config-slider:focus::-webkit-slider-runnable-track {
  background: #3899ec;
}
input[type=range].config-slider::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #3899ec;
  border-radius: 5px;
  /*border: 0.2px solid #010101;*/
}
input[type=range].config-slider::-moz-range-thumb {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  border: 1px solid #DEDEDF;
  height: 10px;
  width: 10px;
  border-radius: 15px;
  background: linear-gradient(#fdfdfd,#f2f2f2);
  cursor: pointer;
}
input[type=range].config-slider::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].config-slider::-ms-fill-lower {
  background: #3899ec;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].config-slider::-ms-fill-upper {
  background: #3899ec;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].config-slider::-ms-thumb {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  border: 1px solid #DEDEDF;
  height: 10px;
  width: 10px;
  border-radius: 15px;
  background: linear-gradient(#fdfdfd,#f2f2f2);
  cursor: pointer;
  height: 11.4px;
}
input[type=range].config-slider:focus::-ms-fill-lower {
  background: #3899ec;
}
input[type=range].config-slider:focus::-ms-fill-upper {
  background: #e8e8e9;
}

/* toggle checkbox */

 .ui.checkbox .box:after,
.ui.checkbox label:after,
.ui.toggle.checkbox .box:after,
.ui.toggle.checkbox label:after{
  height: 15px;
  width: 15px;
  border: 1px solid #DEDEDF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15) !important;
  border: 1px solid #DEDEDF;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before{
  height: 15px;
  width: 30px;
  border-radius: 11px;
  background-color: #D2D3D5;
}

.ui.toggle.checkbox input:checked~.box:after, .ui.toggle.checkbox input:checked~label:after{
  left: 16px;
} 
/* toggle checkbox */