.title {
    font-size: 0.92307692em;
}

.ui.grey.button.transliterate {
    font-size: 0.92307692em;
    padding: 1em;
    margin-top: 0.5em;
}

.text-formatting-options .inline.fields>label {
    width: 5em!important;
    color: grey!important;
    font-size: 12px!important;
    font-weight: normal!important;
    margin-right: 3em!important;
    font-family: Helvetica;
}

#readAlongContents .inline.fields>label,
#wordInfoContents .inline.fields>label {
    width: 13vw;
    color: grey;
    font-size: 1em;
    font-weight: normal;
}

#readAlongContents,
#wordInfoContents {
    margin-top: 1vh;
}

.text-formatting-options input,
.text-formatting-options .ui.dropdown,
.text-formatting-options .ui.selection.dropdown .menu>.item,
.buttons {
    color: #9b9b9b!important;
    font-size: 12px!important;
    font-weight: normal!important;
}

.text-formatting-options i.icon{
    font-size: 12px;
}

.text-formatting-options .ui.dropdown.custom-dropdown{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 0;
    padding-right: 0;
}

.text-formatting-options .ui.dropdown.custom-dropdown .dropdown.icon{
    width: 0;
}
.text-formatting-options .ui.selection.active.dropdown:hover{
    box-shadow: none;
}

.text-formatting-options .font-face-dropdown {
    min-width: initial!important;
    width: 14em!important;
}

.text-formatting-options .font-size-dropdown {
    min-width: 0!important;
    width: 4em!important;
}

.text-formatting-options .ui.dropdown.font-size-dropdown .menu {
    max-height: 140px;
}

.text-formatting-options .ui.dropdown.font-face-dropdown .menu{
    max-height: 15.5em;
}

.bold-italic-buttons-group {
    left: 1em!important;
    position: relative;
}

.config-slider {
    min-width: 10em;
}

.opacity-percent {
    margin-left: 0.8em!important;
    text-align: center;
}



.sidebar-accordion {
    font-size: 12px!important;
}

.sidebar-accordion .title,
.sidebar-accordion .content {
    background: none!important;
    border: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: none!important;
    border-radius: 0!important;
}

.sidebar-accordion .active.title {
    color: #4a4a4a!important;
}

.sidebar-accordion .title {
    display: flex;
    align-items: center;
    padding-left: 0!important;
    color: #2e9fd9!important;
    height: 3em;
    line-height: 1.8em;
    border-top: 0.1px solid #d2d3d5 !important;
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.sidebar-accordion .ui-icon {
    width: 0!important;
}

.sidebar-accordion .content {
    color: #9b9b9b!important;
    overflow: hidden!important;
}

#opacity{
    min-width: 0;
    width: 60%; 
}