.search-reset-keyword-field .ui.basic.button {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.source-result-container::-webkit-scrollbar-thumb,
.source-filter-container::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.29)!important;
}

.ui.modal.fullScreeenModal {
    top: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px !important;
    right: 0px;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

.padding-top-3px {
    padding: 4% 1% 0% 0%;
}

.width-100 {
    width: 100%;
}

.search.selection.dropdown.textbox {
    width: 100%;
}

#resourceSearch {
    font-size: 75%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-radius: 30px;
    background: transparent;
}

.breakWord {
    word-break: break-word;
}

.search-reset-keyword-field {
    margin-left: -7%;
    margin-right: 7%;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    width: 300px;
    height: 36px;
}

.filterMetaDetails .paraHeading {
    color: darkgrey;
    font-weight: 500 !important;
}

.ui.right.floated.header.searcher {
    margin-bottom: 0%;
    height: 40px;
}

.ui.grid .two.wide.column.rightBorder {
    padding-right: 0%;
    border-right: 1px solid #D8DEE2;
}

.resourceDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    height: 54px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ui.vertical.segment.sortResource {
    padding: 6%;
}

.searcher .search-reset-keyword-field .searchElement {
    padding: 2%;
    font-size: 78%;
    cursor: pointer;
}

.footerElement .segment .grid .selectedItems {
    display: flex;
    align-items: center;
    padding-left: 12%;
}

.ui.btnAttribute {
    width: 96px;
    height: 31px;
    border-radius: 5px;
    border: solid 1px #007aff;
}

#apply-lesson-filter-button {
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.source-result-container {
    height: calc(100vh - 185px)!important;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1%;
    margin-right: 0% !important;
    margin-top: 1% !important;
}

#resourceHeading {
    border: none;
    margin-top: 1%;
    margin-bottom: -1%;
    margin-left: 1%;
    font-weight: bold;
}

.ui.vertical .ui.list.filterOverflow {
    overflow-y: scroll;
    height: calc(100vh - 277px);
    padding: 6%;
    margin: 0%;
    border-bottom: 1px solid #D8DEE2;
}

.searchList {
    display: none;
    border: 1px solid #D8DEE2;
    list-style: none;
    padding-left: 0%;
    border-radius: 5px;
    margin-top: 2px;
    width: 300px;
    margin-left: -24px;
    position: fixed;
    background: white;
    z-index: 1;
    cursor: pointer;
}

.searchResult {
    padding: 2%;
    font-size: 14px;
    border-bottom: 1px solid #D8DEE2;
    word-break: break-word;
}

.searchResult:hover {
    background: #D8DEE2;
}

.contentMetaDetail {
    width: 50%;
    color: black;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.contentTitle {
    width: 30%;
    color: black;
    font-size: 13px;
    text-align: left;
    font-weight: 600;
    padding-left: 10px;
}

.bodyContainer {
    height: 100%;
}

.addedItems {
    margin-left: 1%;
}

.searchResultMsg {
    font-size: 14px;
    padding: 2%;
}

.resourceMetaImage {
    overflow: hidden;
    height: 150px !important;
}

.errorMessage {
    margin-top: 3% !important;
}

.sidebarSectionHeader {
    display: inline;
    font-weight: bold;
    font-size: 12px;
}

.sortResource .sortButtonsWrapper {
    margin: 0%;
}

.facets-headtext {
    font-weight: bold;
    text-transform: uppercase;
}

.facets-viewall {
    position: relative;
    cursor: pointer;
    float: right;
    right: 2px;
    font-weight: normal;
    font-size: 14px;
    text-transform: initial;
}

.facetList {
    padding-left: 1%;
}

.sections {
    padding-top: 2%;
}

.card .content .header.contentMetaTitle {
    font-size: 16px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.creator {
    font-size: 12px;
}

.filterMetaDetails {
    margin-top: 3%;
    margin-bottom: 3%;
}

.ui.left.header.contentDetailsTitle {
    font-size: 18px;
    font-weight: bold;
}

.source-result-container .cards.cardsWrapper {
    margin: 0%;
}

.footerElement {
    bottom: 0%;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.facetList .ui.divider.section_divider {
    border-style: dashed;
}

.ui.segment .cardMetaDetails {
    border-left: none;
    height: 80%;
    overflow-y: scroll;
}

.fullHeight {
    height: 100%;
}

.cardSidePanel {
    width: 50%;
    text-align: left;
    font-size: 14px;
    line-height: 1 !important;
    word-break: break-all;
}

.cardDetailsSectionTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    word-break: break-word;
}

.cardDetails-list {
    margin-top: 30px !important;
    display: inline-block !important;
    width: 100%;
    height: 100%;
}

.bottomFixed {
    bottom: 15%;
    position: fixed;
}

.ui.segment.removeBorder {
    border: none;
    box-shadow: none;
}

.bottomList {
    bottom: 5%;
    position: absolute;
    text-align: center;
    width: 100%;
    color: #007aff;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
}

.overLapAll {
    z-index: 9999;
}

.checkBoxOverImage-top-left-corner {
    position: absolute !important;
    top: 5px;
    left: 5px
}

.ui.checkbox input:checked~.box:after,
.ui.checkbox input:checked~label:after {
    opacity: 1;
    color: #007aff !important;
}

.ui.checkbox input:checked~.box:before,
.ui.checkbox input:checked~label:before {
    background: #fff;
    border-color: #007aff;
}

.load-more-lesson-warning-msg {
    text-align: center;
}

.sortButtonsWrapper .column .SortBtns {
    width: 90%;
    height: 30px;
    padding: 0%;
}

.ui.segment.horizontal .cardView-description {
    height: 80%;
    overflow-y: scroll;
}

.searcher .search-reset-keyword-field .searchLoader {
    height: 100%;
    margin: 3%;
}

.flexslider .screenShotSlider {
    height: 280px;
    width: 99%;
    overflow: hidden;
    position: relative;
}

li em {
    font-weight: bold;
    font-style: normal;
}
.ui.searcher:hover .searchList {
    display: block;
}

.filterMetaDetails .dropdown.textbox[data-position="top center"][data-tooltip]:after{
    width: 100%;
    white-space: pre-wrap;
    text-align: center;
}

.conceptSelector {
background-color: white !important;
border: 1px solid #979797 !important;
cursor:pointer;
}

.footerElement button.proceed-btn{
    font-size: 14px !important;
    font-weight: 600;
    padding: 2% 5% 2% 5%;
    border-radius: 5px;
}
.blueColor, .blueColor:hover{
  color: #007aff !important;
}

.cursorLink{
  cursor: pointer;
}

.blueBackGround{
  background-color: #007aff !important;
}

.whiteColor{
  color: white !important;
}

.whiteBackGround{
  background-color: white !important;
}
