.textbox:focus {
  border-width: 0px 0px 1px 0px solid #aeabab;
  outline: 0;
  /*box-shadow: 0 4px 6px -6px #000000;*/
  border-color: #9090e4;
}
.textboxQ:focus {
  border-width: 0px 0px 1px 0px solid #aeabab;
  outline: 0;
  /*box-shadow: 0 4px 6px -6px #000000;*/
  border-color: #9090e4;
}

.textbox {
  width: 75%;
  border-width: 0px 0px 1px 0px;
  height: 33px;
  color: inherit;
  text-align: center;
}
.textboxQ {
  width: 99%;
  border-width: 0px 0px 1px 0px;
  height: 33px;
  color: inherit;
  text-align: left;
}
.cardBorder{
  box-shadow: 0px 1px 5px 1px #aeabab !important;
}

.MTFmaxLengthText {
  float: right;
  padding-top: 2%;
}

.optionError {
  color: red;
}

.optionTab {
  text-align: center;
}

.cke_float {
  z-index: 9999999 !important;
}
.qc-mtf-textbox{
    color: inherit;
    text-align: center;
  border-bottom: 1px solid #d8d8d8;
}
/*css for mathtext size decrease*/
.qc-mtf-textbox span.math-text {
    font-size: small;
}
.qc-mtf-option-placeholder::before{
 content: 'Enter answer';
 color: #aaa;
 display: block;
 position: absolute;
 left: 33%;
} 


.has-error {
  border-bottom-color: #ea7575;
  /*border-bottom-width: 1.5px;*/
  transition:all linear 0.5s;
}

.has-success {
  border-bottom-color: #dfcfcf;
  transition:all linear 0.5s;
}

.has-error-text {
  color: inherit;
  transition:all linear 0.5s;
}

.has-success-text {
  color: red;
  transition:all linear 0.5s;
}
.ui.segments.custom-segments{
  margin-top: 1px;
  margin-bottom: 2%;
}

.mtfFullGrid {
  max-height: 80vh;
  width: 100%;
  margin-left: 0%;
  margin-top: 0%
}

.innerScroll {
  padding-left: 4%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 5%;
}

/*#eachCard {
  box-shadow: 1px 1px 1px #9da1a5;
  margin-bottom: 2%
}*/

.ui.segments .segment.textBoxDiv {
  text-align: center;
  font-size: 1.42rem;
}

.deleteMedia {
  padding-right: 20px;
  color: #9E9E9E;
}

.deleteText {
  padding-right: 20px;
  color: #9E9E9E;
}

.addAns {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*.headQA {
  margin-top: 3%;
}*/
.qHeader{
  font-size: 1.42rem;
  padding: 0;
  margin-top: 3%;
}
.has-errorCard{
  border: 1px solid red !important;
}
.ui.grid .column.text-len{
  padding-top: 2rem;
  font-size: 1.3rem;
  color: #9E9E9E;
}
.ui.segments .segment.custom-sec-segment{
  border-top: none;
  color: #9E9E9E;
  font-size: 1.3rem;
}
.custom-bottom-segment{
  padding-left: 10px;
  /*opacity: 0.5;*/
  color: #9E9E9E; 
  vertical-align: bottom;
}
.ui.segments.inner-segment{
  margin: 0;
  padding: 1px;
}
.outer-segment{
  padding: 20px 0;
}
.left-segment{
  color: #9E9E9E; 
}
.correct-answer{
  display: inline-block;
}
i.large.icon.delete-icon{
  vertical-align: baseline;
}
.length-divider{
  padding: 0 4px;
}
.ui.grid .column.segment-column{
  padding: 0.7rem;
}
.custom-bottom-label{
  color: #9E9E9E;
  vertical-align: bottom;
  padding-right: 10px; 
}
.right-ans-radio{
  width: 15px;
  height: 15px;
  padding-right: 10px;
}

.myAudio::-webkit-media-controls-panel {
  display: block;
}
.myAudio::-webkit-media-controls-panel{
  background-color: transparent;
}

.imgWidth{
  display: block;
  width: 70%;
}
.qc-mtf-distractor{
  text-align: center;
}
.instructions{
  font-size: 1.1rem;
}
td.mtf-pair-td{
  border-left: 0px none !important;
  border-right: 0px none;
  width: 50%;
}
.delete-pair-row-LHS{
  margin-top: 2%;
}
.delete-pair-row-RHS{
  margin-top: 2%;
  float: right;
     visibility: hidden;
}

td.mtf-pair-destractor-td{
 border-left: 0px none !important;
  border-right: 0px none;
}
.ck-error{
  border: 1px solid red;
}
/* options */

.mtf-options .question-selected-media-container {
  height:60px;
}

.mtf-options .selected-media-container {
 margin-left:2%;
}

.mtf-options .selected-image-container {
 float: left;
 margin-right: 2%;
 width: 46%;
}

.mtf-options .selected-audio-container {
 float: left;
 margin-right: 2%;
 width: 46%;
}

.mtf-options .imgWidth{
 width:100%;
}

.mtf-options .auto-play-container {
 text-align: right;
}

.mtf-options .audio-container {
 width: 80%;
}

.mtf-options .selected-audio {
 max-width: 100%;
 display:none;
}

.mtf-options .delete-media-container {
 width: 20%;
}