#contents-data-form input,
#contents-data-form textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
    padding-left: 0!important;
}

#contents-data-form input:focus {
    border-bottom: 1px solid #009FDA;
}

#contents-data-form textarea:focus {
    border-bottom: 1px solid #009FDA;
}

.form-fields-except-image .field {
    margin-bottom: 20px!important;
}

.form-fields-except-image .field input,
{
    padding: 0.339054em 1.07692308em!important;
    font-size: 12px!important;
}

.ui.form .field>label,
.form-fields-except-image .field input,
.form-fields-except-image .field textarea {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif!important;
}

.ui.form .field>label {
    font-size: .92857143em!important;
    font-weight: bold!important;
    text-transform: none!important;
    margin: 0 0 .28571429rem 0!important;
    color: rgba(0, 0, 0, 0.82)!important;
}

.form-fields-except-image {
    width: calc(100% - 120px)!important;
}

@media only screen and (max-width: 1048px) {
    .form-fields-except-image,
    #contents-pane>.ui.form .fields>.eight.wide.field {
        width: calc(100% - 120px)!important;
    }
}

.book-image-container {
    height: 100px;
    width: 100px;
    border: 0.2px solid rgba(192, 192, 192, 0.39);
    position: relative;
}

..book-image-container i,
.book-image-container img {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}

.book-image-container img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    display: inline-block;
}

.book-image-container:hover {
    cursor: pointer;
}

.book-image-container:hover i {
    color: black;
}

.book-image-field {
    width: 116px!important;
    min-width: 116px!important;
    max-width: 116px!important;
}

.metadata-form-container {
    margin-top: 0;
    border-radius: 0;
    height: 100%!important;
}

.metacontent-wrapper {
    height: 100%;
}

#contents-data-form,
#read-metadata-wrapper {
    border-radius: 0;
    height: 80%;
    border: none;
    padding-left: 0!important;
    overflow-y: auto;
    margin-top: 0!important;
}

#contents-data-form::-webkit-scrollbar,
#read-metadata-wrapper::-webkit-scrollbar {
    width: 0!important;
}

#headerSegment {
    box-shadow: none;
    margin-bottom: 0;
    border-radius: 0;
    border-right: none;
    height: 90.4px;
    border: none;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    margin-left: -1em;
    box-shadow: -8px 10px 10px -10px #c0c0c0;
    z-index: 1;
}

#headerSegment .ui.breadcrumb {
    background: #f5f5f5;
    padding: 1em;
    padding-left: 1.2em;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}

#headerSegment .ui.breadcrumb>.active.section {
    color: #777;
    font-weight: initial;
}

#headerSegment h3 {
    color: rgba(0, 0, 0, 0.7)!important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    left: 0;
    padding-left: 1vw;
}

.header-bottom-segment {
    position: absolute!important;
    bottom: 0!important;
    margin: 0!important;
}

.inline-block {
    display: inline-block!important;
}

.header-buttons-container {
    float: right;
    width: 50%;
    height: 38%;
    padding-right: 0;
    right: 20px;
}

.header-buttons-container .ui.button {
    min-height: initial!important;
    height: 100%!important;
}

.button-overrides {
    font-family: Helvetica;
    padding: 0.85em 1.5em;
    text-transform: none;
    border-radius: .25rem;
}

.right-float {
    position: relative;
    float: right;
}

#save-button,
#update-button {
    margin-right: 0;
}

#update-button {
    /*display: none!important;*/
}

#add-lesson-button:hover {
    background: #317bca!important;
    color: #fff!important;
}

#read-metadata-wrapper .ui.items {
    height: 30%!important;
    margin-bottom: 0!important;
    font-family: Helvetica!important;
}

#read-metadata-wrapper .item,
#read-metadata-wrapper .item .content {
    height: 100%!important;
}

#read-metadata-wrapper .item .content .description {
    height: 55%;
    overflow-y: hidden;
}

#read-metadata-wrapper .item .content .description #descriptionPara {
    max-width: 95%;
    max-height: 90%;
    display: inline-block;
    overflow: auto;
}

.metacontent-fields-container {
    height: 70%;
    box-sizing: border-box;
    padding: 1em!important;
    position: relative;
    padding-left: 0!important;
}

.metacontent-field {
    width: 25%;
    position: relative;
    float: left;
    margin-top: -5px;
}

.long.metacontent-field {
    width: 50%;
}

.field-text {
    text-align: left;
    padding: 1em;
}

.field-text h5[class*="field-value"] {
    color: #383838;
    margin-top: 0;
    font-size: 1rem !important;
    text-transform: capitalize !important;
}

.field-text h5 {
    margin-bottom: 0.5em;
    color: #949494;
    font-size: 0.8rem !important;
    font-family: Helvetica!important;
}

.field-value-wrapper .field-value {
    font-size: 1rem;
    font-family: Helvetica!important;
    color: #383838;
    text-transform: capitalize !important;
}

.metadata-fields-table tr td {
    color: #4a4a4a;
    font-family: Helvetica;
}

.metadata-fields-table tr>td:first-child {
    color: grey;
}