.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    padding-bottom: 180px;
    padding-top: 180px;
    height: 100%;
}

#previewContentIframe {
    border: 0px;
}

.main {
  position: relative;
  height: 351px;
  width: 688px;
  margin: 0 auto;
}

.child {
  background: black;
  color: white;
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  overflow: auto;
}

.preview-bgimage {
    height: 355px;
    width: 706px;
    background-size: 726px 375px;
    padding: 0;
}

.preview-iframe {
    height: 324px;
    width: 583px;
    padding:0;
    border: none !important;
    overflow: hidden;
}
